{% extends 'layout/main-layout.html' %}

{% block content %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <a href="{% url 'sale:add_battery_sale' %}" class="btn btn-sm btn-primary shadow-sm"><i
        class="fas fa-plus text-white-50"></i> Add Battery Sale
    </a>
</div>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Battery Sales List</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-sm table-striped text-center" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Battery</th>
                        <th>Customer</th>
                        <th>Date</th>
                        <th>Price</th>
                        <th>Discount</th>
                        <th>Net Price</th>
                        <th>Page No</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for battery_sale in battery_sales %}
                    <tr>
                        <td>{{battery_sale.battery}}</td>
                        <td>{{battery_sale.customer}}</td>
                        <td data-order="YYYY-MM-DD">{{battery_sale.date}}</td>
                        <td>{{battery_sale.price}}</td>
                        <td>{{battery_sale.discount}}</td>
                        <td>{{battery_sale.get_net_price}}</td>
                        <td>{{battery_sale.page_number}}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a href="{% url 'sale:update_battery_sale' battery_sale.id %}" class="btn btn-sm btn-success"><i class="fas fa-edit"></i></a>
                                <a href="#" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}

{% block js %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#dataTable').dataTable({
                "order": [[4, 'asc']],
                "iDisplayLength": 25,
                "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]]
            });
        });
    </script>
{% endblock js %}