{% extends 'layout/main-layout.html' %}
{% load humanize %}
{% block content %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <a href="{% url 'asset:add_battery' %}" class="btn btn-sm btn-primary shadow-sm"><i
        class="fas fa-plus text-white-50"></i> Add Notification
    </a>
</div>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Notification List</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped table-sm" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Title</th>
                        <th>Content</th>
                        <th>Read Status</th>
                        <th>Recevied</th>
                    </tr>
                </thead>
                <tbody>
                    {% for notification in notifications %}
                    <tr>
                        <td align="center">
                            {% if notification.type == 'success' %}
                            <div class="icon-circle bg-success">
                                <i class="fas fa-check text-white"></i>
                            </div>
                            {% elif notification.type == 'warning' %}
                            <div class="icon-circle bg-warning">
                                <i class="fas fa-exclamation text-white"></i>
                            </div>
                            {% elif notification.type == 'info' %}
                            <div class="icon-circle bg-info">
                                <i class="fas fa-info text-white"></i>
                            </div>
                            {% elif notification.type == 'error' %}
                            <div class="icon-circle bg-danger">
                                <i class="fas fa-times text-white"></i>
                            </div>
                            {% endif %}   
                        </td>
                        <td>{{notification.title}}</td>
                        <td>{{notification.content}}</td>
                        <td>{{notification.read_status}}</td>
                        <td>{{notification.created_at|naturaltime}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}