{% extends 'layout/main-layout.html' %} {% block content %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Search Results</h1>
</div>

<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">
      {{total_count}} results found
    </h6>
  </div>
  <div class="card-body">
    {% with products.count as total %}
    {% if total %}
    <h5>Products</h5>
    {% for product in products %}
    <p>{{product}}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    {% with vendors.count as total %}
    {% if total %}
    <h5>Vendors</h5>
    {% for vendor in vendors %}
    <p>{{vendor}}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
  </div>
</div>

{% endblock content %}
