{% extends 'layout/main-layout.html' %}

{% block content %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Batteries</h1>
    <a href="{% url 'asset:add_battery' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
        class="fas fa-plus text-white-50"></i> Add Battery
    </a>
</div>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Batteries List</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-sm text-center" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Serial No</th>
                        <th>Model No</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for battery in batteries %}
                    <tr>
                        <td>{{battery.product}}</td>
                        <td>{{battery.serial_no}}</td>
                        <td>{{battery.model_no}}</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a href="{% url 'asset:update_battery' battery.id %}" class="btn btn-sm btn-success"><i class="fas fa-edit"></i></a>
                                <a href="#" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}